@using WebNailWarehouseAutomation.Models.ClassEnums
@model WebNailWarehouseAutomation.Models.Nail
@*
    //Add nails page
*@

@{
    ViewData["Title"] = "Добавление товара";
}
 <h1>Добавление товара на склад</h1>

<form method="post"
      asp-controller="home"
      asp-action="create"
      class="row g-3">

    <div class="row">
        <div class="col-12">
        <label asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Введите название" />
        <span asp-validation-for="Name"></span>
        </div>
    

        <div class="col-md-6">
            <label asp-for="Diameter"></label>
            <input type="number" class="form-control" step="0.01" min="0" placeholder="Введите диаметр" asp-for="Diameter" />
            <span asp-validation-for="Diameter"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Length"></label>
            <input type="number" class="form-control" step="0.01" min="0" placeholder="Введите длину" asp-for="Length" />
            <span asp-validation-for="Length"></span>
        </div>

        <div class="col-12">
            <label asp-for="Material"></label>
            <select class="form-select" asp-for="Material" asp-items="Html.GetEnumSelectList<NailMaterials>()"></select>
            <span asp-validation-for="Material"></span>
        </div>

        <div class="col-12">
            <label asp-for="Quantity"></label>
            <input type="number" class="form-control" step="1" min="0" placeholder="Введите количество" asp-for="Quantity" />
            <span asp-validation-for="Quantity"></span>
        </div>

        <div class="col-12">
            <label asp-for="PriceExcludingVAT"></label>
            <input type="number" class="form-control" step="0.01" min="0" placeholder="Введите цену" asp-for="PriceExcludingVAT" />
            <span asp-validation-for="PriceExcludingVAT"></span>
        </div>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success">Добавить</button>
        <a type="button" asp-action="Index" class="btn btn-danger">Отмена</a>
    </div>
</form>